<nav class="bg-gray-700 border-gray-900">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a href="<%= root_path %>" class="flex items-center space-x-3">
      <i class="fa-solid fa-coins text-2xl text-green-700"></i>
      <span class="self-center text-2xl font-semibold whitespace-nowrap text-green-700">Crypto Trading</span>
    </a>
    <ul class="bg-gray-700 font-medium flex flex-row p-0 mt-0 border-0 rounded-lg gap-4 items-center">
      <li>
        <%= link_to 'Главная', root_path, class: 'block py-2 px-3 text-white rounded-sm hover:bg-gray-600' %>
      </li>
      <li>
        <%= link_to 'Пусто', root_path, class: 'block py-2 px-3 text-white rounded-sm hover:bg-gray-600' %>
      </li>
      <li>
        <%= link_to 'Пусто', root_path, class: 'block py-2 px-3 text-white rounded-sm hover:bg-gray-600' %>
      </li>
      <% if user_signed_in? %>
        <li>
          <button id="settings-btn" type="button"
            data-modal-target="settings-modal"
            data-modal-toggle="settings-modal"
            class="flex items-center justify-center p-2 rounded hover:bg-gray-600 focus:outline-none hover:cursor-pointer">
            <i class="fa-solid fa-gear text-xl text-gray-200"></i>
          </button>
        </li>
        <li class="relative max-w-[180px]">
          <button id="dropdownUserButton" data-dropdown-toggle="dropdownUserMenu" class="flex items-center gap-2 py-2 px-3 text-white rounded-sm hover:bg-gray-600 focus:outline-none" type="button">
            <i class="fa-solid fa-user text-lg"></i>
            <span class="sr-only">Управление аккаунтом</span>
            <svg class="w-2.5 h-2.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/></svg>
          </button>
          <div id="dropdownUserMenu" class="z-50 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 absolute right-0 mt-2 overflow-x-auto" data-popper-placement="bottom-end">
            <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownUserButton">
              <li>
                <%= link_to 'Профиль', edit_user_registration_path, class: 'block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white' %>
              </li>
              <% if policy(:admin).admin? %>
                <li>
                  <%= link_to 'Роли', admin_roles_path, class: 'block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white' %>
                </li>
                <li>
                  <%= link_to 'Биржи', admin_exchanges_path, class: 'block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white' %>
                </li>
                <li>
                  <%= link_to 'Назначения ролей', admin_user_roles_path, class: 'block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white' %>
                </li>
              <% end %>
              <li>
                <%= link_to 'Выйти', destroy_user_session_path, method: :delete, class: 'block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white' %>
              </li>
            </ul>
          </div>
        </li>
      <% else %>
        <li>
          <%= link_to 'Вход', new_user_session_path, class: 'py-2 px-3 text-white rounded-sm hover:bg-gray-600' %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
<div id="settings-modal-root"></div>
<%= render 'components/settings_modal' %>