<!DOCTYPE html>
<html>
  <head>
    <title>CryptoTradingApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Flowbite via CDN for turbo support -->
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.turbo.min.js"></script>
    <!-- Font Awesome CDN (без integrity) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- jQuery CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!-- Toastr CSS/JS CDN -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
  </head>

  <body class="bg-gray-700 min-h-screen" data-user-signed-in="<%= user_signed_in? %>">
    <div class="mb-4">
      <%= render "components/navbar" %>
    </div>
    <%= render 'components/toastr' %>
    <main class="p-4">
      <%= yield %>
    </main>
  </body>
</html>
